<!DOCTYPE html>
<html>

	<div id='wood' class='container' style="top:0;left:0">
		<div class='taggrid' data-tagid='a'>
			<span class='btn btn-xs btn-danger' style='display:inline-block'>x</span>
			<span class='tag'>a</span>
		</div>
		<div class='taggrid' data-tagid='b'>
			<span class='btn btn-xs btn-danger' style='display:inline-block'>x</span>
			<span class='tag'>b</span>
		</div>
		<div class='taggrid' data-tagid='c'>
			<span class='btn btn-xs btn-danger' style='display:inline-block'>x</span>
			<span class='tag'>c</span>
		</div>
	</div>
	<div id='filter' class='container' style="top:0;left:400px"></div>
	<div id='relay' class='' style='position:absolute;z-index:15'><span></span></div>

	<style type="text/css">
	.container{
		position:absolute;
		width:500px;
		height:200px;
		border:1px solid #AAA;
		background-color:#999;
		z-index:1;
	}
	.item{
		z-index:5;
	}
	</style>
</html>